*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border-radius: 11px;
}
body{
    font-family: 'Merriweather', sans-serif;
    background-color: rgb(207, 241, 207);
    overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9fafc;
    height: 10vh;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    z-index: 9999;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}

.button_primary{
    background-image: linear-gradient(to right,#f55434 0%, #e85c41 50%,#e03281 100% );
    color: #fff;
    padding: 12px;
    border: none;
    transition: 0.5s;
    border-radius: 6px;
    box-shadow: 0 0 10px #e4725c ;
    cursor: pointer;
}
.button_primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: lightgray;
  text-decoration: none;
}

.container{
    width: 100%;
    margin:25px auto;
    padding: 0 20px;
  
}
.hero_container{
    width: 100%;
    
   
}
.hero_image_container{
  
    width: 100%;
    transition: 0.3s;
    border-radius: 8px;
   
}


/* hover effect */
.hero_image_container:hover{
  transform: scale(1.05);
 
}


.hero_image{
   width: 100%;

}
.hero_text{
    font-size: 30px;
    color: #1d3557;
    margin: 15px 0px;
}

.video__footage__container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   width: 100%;
}
.video__footage {
  position: relative;
}
.video__footage::before {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(1rem, 1rem);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.video__footage__text {
  margin-top: 2rem;
  color: #1d3557;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

/* Menu Styles */

.explore__menu__container {
    margin-top: 110px;
  }
  
  .explore__menu__text {
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
    text-align: center;
  }
  
  .food__menu__card {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: 0.3s;
  }

  /* hover effect */
  .food__menu__card:hover{
    transform: scale(1.05);
  }
  
  .food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .food__menu__card__description {
    padding: 20px;
  }
  
  .explore__menu__view__more {
    display: flex;
    justify-content: center;
  }


  /* Restaurants ssection */
  .restaurants__description {
    font-size: 30px;
    color: #1d3557;
  margin: 20px 0;
  text-align: center;
  }
.restaurants__flex__row__one,
.restaurants__flex__row__two {
  width: 100%;
  display: flex;
  gap: 6px;
}
.restaurants__flex__row__one {
    align-items: baseline;
    margin-bottom: 4px;
  }
.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}


.restaurant__1,
.restaurant__4 {
  width: 100%;
  height: 150px;
  transition: 0.3s;

}
.restaurant__2,
.restaurant__3 {
  width: 120%;
  height: 200px;
  transition: 0.3s;
  
}
/* hover effect */

.restaurant__1:hover
{
  transform: scale(1.05);
}
.restaurant__2:hover{
  transform: scale(1.05);
}
.restaurant__3:hover{
  transform: scale(1.05);
}
.restaurant__4:hover{
  transform: scale(1.05);
}

.email_subcribe_container {
    margin-top: 3rem;
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-xl {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
}
.email_subcribe_input_field{
    display: flex;
    align-items: center;
}
.email_input{
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 10px;
}
.quote_container {
    position: relative;
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 200px;
    width: 100%;
    border-radius: 13px; 
    background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80) center center / cover no-repeat;
}
.quote_image_text{
    color: rgb(248, 242, 242);
}

/* footer styling */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #d73c81 51%,
    #ff512f 100%
  );
  margin-top: 30px;
}
img{
    color: #fff;
}
li{
    list-style: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
}
footer > img {
  width: 300px;
  filter: brightness(0) invert(1) ;
}
@media (max-width:354px){
        .email_subcribe_input_field{
          flex-direction: column;
          
        }
        .text-xl{
          margin-left: 60px;
          overflow-x:scroll;
        }
        .email_input {
          margin-left: 22px;
          width: 150px;
          margin-top:3px ;
        }

          .button_primary{
            margin-left: 22px;
            margin-top: 4px;
            width: 100px;
            
          }
        
}
@media (max-width:767px){
    footer{
        flex-direction: column;
    }
    .quote_image_overlay {
      position: absolute;
      height: 203px;
      width: 100%;
      border-radius: 13px;
      background-color: #285572;
      opacity: 49%;
  }
  .quote_image_text {
      color: #fff;
      z-index: 3;
      margin: 0 1rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2;
    }
}

@media (min-width:768px){
   .navbar{
       justify-content: space-between;
       padding: 10px 20px;
   }
   .navbar__brand{
    width: 150px;
  }
  .nav__item{
    padding: 13px;
    font-size: 15px;
}
.hero_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.video__footage__container{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.video__footage {
  margin-right: 2rem;
}
.video__footage__text {
  margin-left: 2rem;
}

.explore__menu__container {
    position: relative;
  }
  .explore__menu__gradient__bg {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );

    z-index: -3;
    transform: skewY(-5deg);

  }
  .explore__menu__lists {
    margin-top: 50px;
    display: flex;
    gap: 8px;
  }

  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .restaurants__description {
    font-size: 40px;
    width: 100%;
  }

  .restaurants__container {
    display: flex;
    align-items: center;
  }
  .restaurants__flex {
    width: 100%;
  }
  .restaurants__description {
    font-size: 40px;
    width: 100%;
  }
  .restaurants__container {
    display: flex;
    align-items: center;
  }
  .restaurants__flex {
    width: 100%;
  }
  .text-xl{
    font-size: 2rem;
    line-height: 2.25rem;
    display: flex;
    justify-content: center;
  }
 
  .email_subcribe_input_field {
    display: flex;
    justify-content: center;
  }
  .email_input {
    width: 20rem;
  }
  .quote_container {
    height: 300px;
    width: 100%;
}
.quote_image_overlay {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
    background-color: #285572;
    opacity: 49%;
}
.quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  footer{
        justify-content: space-evenly;
}

}
@media (min-width:1020px){
    .container{
        max-width: 1000px;
    }
  .hero_image_container{
      width: 700px;
      height: 300px;
  }
 .hero_text{
     font-size: 40px;
 }

 .explore__menu__lists {
    gap: 20px;
    padding: 0 20px;
  }

  .explore__menu__text {
    font-size: 50px;
  }
  .restaurants__container{
    margin-top: 30px;
  }
  .text-xl {
    font-size: 2.8rem;
    line-height: 1.5;
  }
   .button_primary{
       padding: 0.5rem 1.5rem;
       font-size: 16px;
   }
   footer{
       justify-content: space-evenly;
   }
}
@media (min-width:1200px){
  .video__footage__container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width:1400px){
    .container{
        max-width: 1250px;
    }

}